<h1>Dates that match yours!</h1>

  <% @itineraries.each do |i| %>
    <li><%= i.country %></li>
    <%= i["date_start(2i)"] %>/<%= i["date_start(3i)"] %>/<%= i["date_start(1i)"] %> --
    <%= i["date_start(2i)"] %>/<%= i["date_start(3i)"] %>/<%= i["date_end(1i)"] %>
  <% end %>


