<h1>Dates that match yours!</h1>

  <% @itineraries.each do |i| %>
    <h2> <%=i.itinerary_list.name %> </h2>
    <p><%= i.country %></p>
    <%= i["date_start(2i)"] %>/<%= i["date_start(3i)"] %>/<%= i["date_start(1i)"] %> --
    <%= i["date_start(2i)"] %>/<%= i["date_start(3i)"] %>/<%= i["date_end(1i)"] %>
  <% end %>


