<p id="notice"><%= notice %></p>


<p>
  <strong>Country:</strong>
  <%= @itinerary.country %>
</p>

<p>
  <strong>Dates:</strong>
  <%= @itinerary["date_start(1i)"] %> <%= @itinerary["date_start(2i)"] %> <%= @itinerary["date_start(3i)"] %>
  <%= @itinerary.date_end %>
</p>

<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
