<%= form_for(@itinerary_list, @itinerary)) do |f| %>
	
	Name: <%= f.text_field :name %><br>

<p class = fields>
	<% f.fields_for @itinerary_list.itineraries do |i| %>
	
	<div class = "fields">
		<%= i.label :country, "Add a Country" %><br>
		<%= i.text_field :country %>

		<%= i.label :date_start, "Arrival Date" %><br>
		<%= i.date_select :date_start, id: "dateField" %>

		<%= i.label :country, "Departure Date" %><br>
		<%= i.date_select :date_end, id: "dateField" %>
	</div>

	<% end %>


</p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>