
<body class="itlistshow">
<div class="jumbotron">
<h1><%= @itinerarylist.name %></h1>

<% @itinerarylist.itineraries.each do |i|%>
  <h2><%= i.country %></h2>
  <%= i["date_start(2i)"] %>/<%= i["date_start(3i)"] %>/<%= i["date_start(1i)"] %> --
  <%= i["date_start(2i)"] %>/<%= i["date_start(3i)"] %>/<%= i["date_end(1i)"] %> <br>
  <%= link_to "Search other users that are going here!", itineraries_path(:country => i.country, :date_startm => i["date_start(2i)"], :date_startd => i["date_start(3i)"], :date_starty => i["date_start(1i)"], :date_endm => i["date_end(2i)"], :date_endd => i["date_end(3i)"], :date_endy => i["date_end(1i)"]) %>
<% end %> <br>
</div>


<%= link_to "Edit", edit_itinerary_list_path(@itinerarylist) %> ----
<%= link_to "Delete", @itinerarylist, {method: :delete, data: {:confirm => "Are you sure you'd like to delete this itinerary?"}, class: "glyphicon glyphicon-trash show-link"} %> ----
<%= link_to "View All Itineraries", itinerary_lists_path %> ----

<%= link_to 'New Itinerary', new_itinerary_list_path %>

</body>