
<h1> Hello <%= @user.username %>! </h1>

You have <%= @user.itinerary_lists.count %> 
<% if @user.itinerary_lists.count == 1 %>
itinerary!
<% else %>
itineraries!
<% end %>

<div class = "itinerarylists">


	  <% @user.itinerary_lists.each do |u| %>
	  	<ul>
	        <li><%= u.name %></li>
	        <li><%= link_to 'See Itinerary', itinerary_list_path(u) %></li>
    	</ul>
    <% end %>

<%= link_to "Create a New Itinerary!", new_itinerary_list_path %>

<%= link_to "Edit Profile", edit_user_path(@user) %>
