<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <title>PackerTracker</title>
  <%= stylesheet_link_tag "application", params[:controller] %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"><%= link_to "PackerTracker", root_path %></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if !signed_in? %>
          <li><%= link_to "About", new_welcome_path %></li>
        <% else %>
          <li><%= link_to "New Itinerary", new_itinerary_list_path %></li>
          <li><%= link_to "Search Itineraries", itinerary_lists_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !signed_in? %>
        	<li><%= link_to "Sign Up", new_user_path %></li>
        	<li><%= link_to "Sign In", new_session_path %></li>
        <% else %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
        	<li><%= link_to "Sign Out", session_path(current_user), :method => :delete %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
